# Ignore virtual environment
venv310/

# Ignore model artifacts
artifacts/
!artifacts/.gitkeep  # (optional) if you want to keep the folder structure

# Ignore specific model binaries if not ignoring the entire folder
artifacts/*.joblib
artifacts/gpt2_model/pytorch_model.bin

# Ignore data files
da/*.json

# Ignore only processed data
data/processed/
